* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: white;
  /* background-color: white; */
  background: #0c0c0f;
  position: reative;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  background-color: transparent
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

nav a[aria-current="vanced"] {
  background: #2e73ff;
  background-image: linear-gradient(45deg,#2e73ff 20%,#ff0032 52%,#0c0c0f 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a[aria-current="timestamp"] {
  background: #181317;
  background-image: linear-gradient(45deg,#c72d2d 20%,#ffd900 52%,#054fee 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: #054fee;
  position: absolute;
  top: 0;
  padding: 10px;
  display: none;
}

.modal input,
.modal button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.dark {
  background: rgba(0,0,0,.5);
}
.primary {
  background: #0b152b;
}
.message {
  margin: 20px 0px;
  padding: 10px;
  font-size: small;
  text-align: center;

}

.modal.hide {
  display: block;
}


.message.danger {
  background-color: red;
  font-weight: bold;
}